RewriteEngine On

# Chỉ chuyển hướng nếu không phải là file thực và thư mục thực
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Chuyển hướng tất cả các yêu cầu không phải file tĩnh đến index.php
RewriteRule ^ index.php [QSA,L]

# Ngăn chặn truy cập trực tiếp vào các thư mục khác
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule (.*) /public/$1 [L]

RewriteBase /public/
